#waybar {
    background: rgba(30, 30, 30, 0.88);
    border: 1px solid rgba(50, 50, 50, 0.9);
    padding: 8px 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    color: #fabd2f;
    font-family: 'Fira Code Nerd Font', monospace;
}

#waybar > .module {
    margin: 0 5px;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.85);
    color: #fe8019;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#waybar > .module:hover {
    background: #83a598;
    color: rgba(40, 40, 40, 0.85);
}

#workspaces {
    border: 1px solid rgba(50, 50, 50, 0.9);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

#workspaces button {
    padding: 4px 8px;
    border-radius: 8px;
    margin: 0 3px;
    color: #a89984;
    font-weight: normal;
    border: 1px solid rgba(50, 50, 50, 0.9);
}

#workspaces button.active {
    background: #fabd2f;
    color: rgba(40, 40, 40, 0.85);
    font-weight: bold;
    border: 1px solid #fe8019;
}

#clock, #mpris, #workspaces, #nerd_dictation, #custom-datetime, #custom-magnifier, #custom-pacman, #custom-weather, #custom-bitcoin, #custom-pomo {
    font-size: 15px;
}

#custom-nerd_dictation, #custom-volume, #custom-datetime, #custom-magnifier, #tray, #custom-pacman, #custom-weather, #custom-bitcoin, #custom-pomo {
    border: 1px solid rgba(50, 50, 50, 0.9);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

#custom-nerd_dictation.listening {
    color: #b8bb26;
    text-shadow: 
        0 0 10px rgba(184, 187, 38, 0.7),
        0 0 20px rgba(184, 187, 38, 0.5);
}

#custom-nerd_dictation.idle {
    color: #fb4934;
    text-shadow: 
        0 0 10px rgba(251, 73, 52, 0.7),
        0 0 20px rgba(251, 73, 52, 0.5);
}

#custom-nixos {
    color: #458588;
    font-size: 21px;
    padding-right: 10px;
    padding-left: 10px;
}
