* {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
}

window {
    background-color: #282828;
    color: #ebdbb2;
    border: 2px solid #504945;
}

#input {
    background-color: #3c3836;
    color: #ebdbb2;
    border: 1px solid #504945;
    padding: 4px;
}

#inner-box {
    background-color: #282828;
}

#outer-box {
    background-color: #282828;
    padding: 15px;
}

#scroll {
    background-color: #282828;
}

#text {
    color: #ebdbb2;
    padding: 4px;
}

#entry:selected {
    background-color: #504945;
}

#text:selected {
    color: #fbf1c7;
}
